<div class="col-2 bg-dark d-flex align-items-center ps-4">
    <p style="cursor: pointer; color: #6c757d; font-weight: bolder; font-size: larger;">NIKE SHOES</p>
</div>
<div class="col-9" style="background-color: #6c757d;"></div>
<div class="col-1 bg-dark d-flex justify-content-center align-items-center">
    <p style="cursor: pointer; color: #6c757d; font-weight: bolder;">Đăng xuất</p>
</div>