<div class="d-flex flex-column"
    style="flex-direction: column;">
    <a href="/shoes-list" class="mb-3">
        <i class="fa-solid fa-cart-shopping" style="width: 15px;"></i><span class="ms-3">Giày</span>
    </a>
    <a href="#" class="mb-3">
        <i class="fa-solid fa-note-sticky" style="width: 15px;"></i><span class="ms-3">Đơn hàng</span>
    </a>
    <a href="/offer-list" class="mb-3">
        <i class="fa-regular fa-snowflake" style="width: 15px;"></i><span class="ms-3">Khuyến mãi</span>
    </a>
    <a href="/shoes-type-list" class="mb-3">
        <i class="fa-solid fa-tags" style="width: 15px;"></i><span class="ms-3">Loại giày</span>
    </a>
    <a href="#" class="mb-3">
        <i class="fa-solid fa-user" style="width: 15px;"></i><span class="ms-3">Người dùng</span>
    </a>
    <a href="#" class="mb-3">
        <i class="fa-solid fa-rocket" style="width: 15px;"></i><span class="ms-3">Báo cáo</span>
    </a>
</div>